*.o
*.a
.cache/
# Do not ignore .git directory, otherwise the reported build number will always be 0
.github/
.gitignore
.vs/
.vscode/
.DS_Store

build*/

tools/ui/node_modules/

models/*

/llama-cli
/llama-quantize

arm_neon.h
compile_commands.json
Dockerfile
