name: fllama
description: "A new Flutter FFI plugin project."
version: 0.0.1
homepage:
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

environment:
  sdk: '>=3.2.3 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  ffi: ^2.1.0
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  jinja:
    git:
      url: https://github.com/Telosnex/jinja.dart.git
      ref: main
  uuid: ^4.3.3

dev_dependencies:
  ffigen: ^9.0.0
  flutter_lints: ^2.0.0
  test: ^1.24.9

dependency_overrides:
  # March 22 2024:
  # Handle flutter_test depending on meta 1.11.0 while Jinja uses 1.12.0
  meta: 1.12.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      windows:
        ffiPlugin: true