name: "Pull Request Labeler"
on:
- pull_request_target

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v6
      with:
        repository: "ggml-org/llama.cpp"
    - uses: actions/labeler@v6
      with:
        configuration-path: '.github/labeler.yml'
