# collaborators can optionally add themselves here to indicate their availability for reviewing related PRs
# multiplie collaborators per item can be specified

/.devops/*.Dockerfile                   @ngxson
/.github/actions/                       @CISC
/.github/workflows/                     @CISC
/ci/                                    @ggerganov
/cmake/                                 @ggerganov
/common/CMakeLists.txt                  @ggerganov
/common/arg.*                           @ggerganov
/common/base64.hpp.*                    @ggerganov
/common/build-info.*                    @ggerganov
/common/chat.*                          @pwilkin
/common/chat-peg-parser.*               @aldehir
/common/common.*                        @ggerganov
/common/console.*                       @ggerganov
/common/http.*                          @angt
/common/jinja/                          @ngxson @CISC @aldehir
/common/llguidance.*                    @ggerganov
/common/log.*                           @ggerganov
/common/peg-parser.*                    @aldehir
/common/sampling.*                      @ggerganov
/common/speculative.*                   @ggerganov
/common/unicode.*                       @aldehir
/convert_*.py                           @CISC
/examples/batched.swift/                @ggerganov
/examples/batched/                      @ggerganov
/examples/convert-llama2c-to-ggml/      @ggerganov
/examples/deprecation-warning/          @ggerganov
/examples/diffusion/                    @am17an
/examples/embedding/                    @ggerganov
/examples/eval-callback/                @ggerganov
/examples/export-docs/                  @ggerganov
/examples/gen-docs/                     @ggerganov
/examples/gguf/                         @ggerganov
/examples/llama.android/                @ggerganov @hanyin-arm @naco-siren
/examples/llama.swiftui/                @ggerganov
/examples/llama.vim                     @ggerganov
/examples/lookahead/                    @ggerganov
/examples/lookup/                       @JohannesGaessler
/examples/model-conversion/             @danbev
/examples/parallel/                     @ggerganov
/examples/passkey/                      @ggerganov
/examples/retrieval/                    @ggerganov
/examples/save-load-state/              @ggerganov
/examples/speculative-simple/           @ggerganov
/examples/speculative/                  @ggerganov
/ggml/cmake/                            @ggerganov
/ggml/include/                          @ggerganov
/ggml/src/ggml-common.h                 @ggerganov
/ggml/src/ggml-cpu/                     @ggerganov
/ggml/src/ggml-cpu/spacemit/            @alex-spacemit
/ggml/src/ggml-cuda/fattn*              @JohannesGaessler
/ggml/src/ggml-cuda/mmf.*               @JohannesGaessler @am17an
/ggml/src/ggml-cuda/mmq.*               @JohannesGaessler
/ggml/src/ggml-cuda/mmvf.*              @JohannesGaessler
/ggml/src/ggml-cuda/mmvq.*              @JohannesGaessler
/ggml/src/ggml-cuda/fattn-wmma*         @IMbackK
/ggml/src/ggml-hip/                     @IMbackK
/ggml/src/ggml-cuda/vendors/hip.h       @IMbackK
/ggml/src/ggml-impl.h                   @ggerganov
/ggml/src/ggml-metal/                   @ggerganov
/ggml/src/ggml-opencl/                  @lhez @max-krasnyansky
/ggml/src/ggml-hexagon/                 @max-krasnyansky @lhez
/ggml/src/ggml-opt.cpp                  @JohannesGaessler
/ggml/src/ggml-quants.*                 @ggerganov
/ggml/src/ggml-rpc/                     @rgerganov
/ggml/src/ggml-threading.*              @ggerganov
/ggml/src/ggml-vulkan/                  @0cc4m
/ggml/src/ggml-webgpu/                  @reeselevine
/ggml/src/ggml-zdnn/                    @taronaeo @Andreas-Krebbel @AlekseiNikiforovIBM
/ggml/src/ggml.c                        @ggerganov
/ggml/src/ggml.cpp                      @ggerganov
/ggml/src/gguf.cpp                      @JohannesGaessler @Green-Sky
/gguf-py/                               @CISC
/media/                                 @ggerganov
/scripts/gen*                           @ggerganov
/scripts/get*                           @ggerganov
/scripts/sync*                          @ggerganov
/src/                                   @ggerganov
/src/llama-adapter.*                    @CISC
/src/llama-arch.*                       @CISC
/src/llama-chat.*                       @ngxson
/src/llama-graph.*                      @CISC
/src/llama-model.*                      @CISC
/src/llama-vocab.*                      @CISC
/src/models/                            @CISC
/tests/                                 @ggerganov
/tests/test-chat-.*                     @pwilkin
/tools/batched-bench/                   @ggerganov
/tools/cli/                             @ngxson
/tools/completion/                      @ggerganov
/tools/mtmd/                            @ngxson
/tools/perplexity/                      @ggerganov
/tools/quantize/                        @ggerganov
/tools/rpc/                             @rgerganov
/tools/server/*                         @ngxson @ggerganov # no subdir
/tools/server/webui/                    @allozaur
/tools/tokenize/                        @ggerganov
/tools/tts/                             @ggerganov
/vendor/                                @ggerganov
/AUTHORS                                @ggerganov
/CMakeLists.txt                         @ggerganov
/CONTRIBUTING.md                        @ggerganov
/LICENSE                                @ggerganov
/README.md                              @ggerganov
/SECURITY.md                            @ggerganov
/build-xcframework.sh                   @danbev
requirements*.txt                       @CISC
